body {
  font-family: Bitter, "Times New Roman", serif;
  background-color: #9696AA;
}

h1 {
  text-align: center;
  font-family: "Sixtyfour Convergence", system-ui;
  background-color: #FFD519;
  color: #050567;
  line-height: 5rem;
}
h2 {
  margin: .1em;
}

.NameandLocation {
  font-family: "Sixtyfour Convergence", system-ui;
  color: #050567;
  background-color: #FFD519;
  border-color: #6363E5;
  line-height: 3rem;
}

#hero img {
  width: 250px;
  background-color: #FFD519;

}

.class1 {
  background-color: #FFD519;
  font-family: "Inconsolata", system-ui;
  color: #050567;
}

h5 {
  
  font-family: "Sixtyfour Convergence", system-ui;
  background-color: #FFD519;
  line-height: 3rem;
}

#hobbies {
  font-family: "Inconsolata", system-ui;
  background-color: #FFD519;
  color: #050567;
  display:flex;
  flex-direction: column;
  align-items: center;  
}


#gallery h2 {
font-family: "Sixtyfour Convergence", system-ui;
background-color: #FFD519;
color: #050567;
line-height: 3rem;}

#gallery figcaption {
  text-align:center;
  font-family: "Sixtyfour Convergence", system-ui;
  background-color: #FFD519;
  color: #050567;
  font-size: 1rem;
  
}

 #article {
  font-family: "Inconsolata", system-ui;
  color:#050567;
  background-color:#FFD519;
  display:flex;
  flex-direction: column;
  
 }
 .title {

  text-align:center;
  font-family: "Sixtyfour Convergence", system-ui;
  background-color: #FFD519; 
  color: #050567;
  line-height: 3rem;
 }
 @media screen and (min-width:60em) {
  figure {
    display:grid;
    grid-template-columns: 2fr 1fr;
  }
  figcaption {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;


  }



 }





